/animacio.html
/bootstrap.css
/bootstrap.html
/dist
/feladat.html
/feladat2.html
/flex.html
/flexmenu.html
/grid.html
/grid2.html
/grid_layout.html
/hamburger.html
/hamburger.scss
/hazi_transform.html
/házi_js.html
/img
/index.html
/index1.html
/javascript
/layout-flex.html
/main.js
/main2.js
/masodik.html
/paprika.css
/paprika.html
/progalap.html
/pseudoclass1.html
/pseudoclass2.html
/responziv.html
/reszponziv.css
/script_jatek.js
/selector.html
/selector2.html
/selector3.html
/selector4.html
/selector5.html
/selector6.html
/style.css
/style2.css
/style3.css
/stylepapir.css
/styles.css
/stylevalami.css
/svg.html
/teszt.html
/transform.html
/urlap.css
/urlap.html
/urlap2.css
/urlap2.html
/urlap3.html
/valami.html
/vid
/vizsga.html
/webshop.css
/webshop.html
/webshop2.html
/_modul1.scss